<section class="page">
  <div class="search">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Buscar regra</mat-label>
      <input
        matInput
        [formControl]="searchControl"
        placeholder="Ex: vantagem, ataque, descanso"
      >
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <ng-container *ngIf="filteredCategories$ | async as categories">
    <mat-accordion class="accordion" multi>
      <mat-expansion-panel
        class="category-panel"
        *ngFor="let category of categories; trackBy: trackCategory"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>{{ category.title }}</mat-panel-title>
          <mat-panel-description>{{ category.items.length + category.summons.length }} itens</mat-panel-description>
        </mat-expansion-panel-header>

        <div class="items" [class.single-column]="isInvocationCategory(category.id)">
          <ng-container *ngIf="category.itemGroups.length > 0; else defaultItems">
            <section class="item-group" *ngFor="let group of category.itemGroups">
              <h3 class="item-group-title">{{ group.title }}</h3>
              <div class="item-group-grid">
                <article
                  class="rule-card"
                  *ngFor="let item of group.items; trackBy: trackItem"
                  [attr.id]="item.id"
                >
                  <h4>{{ item.name }}</h4>
                  <ul class="effects">
                    <li *ngFor="let effect of item.effectParts">
                      <ng-container *ngFor="let part of effect">
                        <ng-container *ngIf="part.linkItem; else plainText">
                          <a
                            class="guide-link"
                            [routerLink]="['/guia']"
                            [fragment]="part.linkItem.id"
                            [matTooltip]="formatTooltip(part.linkItem.description)"
                            matTooltipClass="guide-tooltip"
                          >{{ part.text }}</a>
                        </ng-container>
                        <ng-template #plainText>
                          <strong *ngIf="part.bold; else italicText">{{ part.text }}</strong>
                          <ng-template #italicText>
                            <em *ngIf="part.italic; else normalText">{{ part.text }}</em>
                            <ng-template #normalText>{{ part.text }}</ng-template>
                          </ng-template>
                        </ng-template>
                      </ng-container>
                    </li>
                  </ul>
                </article>
              </div>
            </section>
          </ng-container>
          <ng-template #defaultItems>
            <article
              class="rule-card"
              *ngFor="let item of category.items; trackBy: trackItem"
              [attr.id]="item.id"
            >
              <h4>{{ item.name }}</h4>
              <ul class="effects">
                <li *ngFor="let effect of item.effectParts">
                  <ng-container *ngFor="let part of effect">
                    <ng-container *ngIf="part.linkItem; else plainText">
                      <a
                        class="guide-link"
                        [routerLink]="['/guia']"
                        [fragment]="part.linkItem.id"
                        [matTooltip]="formatTooltip(part.linkItem.description)"
                        matTooltipClass="guide-tooltip"
                      >{{ part.text }}</a>
                    </ng-container>
                    <ng-template #plainText>
                      <strong *ngIf="part.bold; else italicText">{{ part.text }}</strong>
                      <ng-template #italicText>
                        <em *ngIf="part.italic; else normalText">{{ part.text }}</em>
                        <ng-template #normalText>{{ part.text }}</ng-template>
                      </ng-template>
                    </ng-template>
                  </ng-container>
                </li>
              </ul>
            </article>
          </ng-template>
          <app-summon-card
            *ngFor="let summon of category.summons"
            [summon]="summon"
            [attr.id]="summon.id"
          ></app-summon-card>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="empty" *ngIf="categories.length === 0">
      Nenhum resultado encontrado.
    </div>
  </ng-container>

</section>
